.gradient {
  background: linear-gradient(90deg, #FBB34C -0.03%, #F56B18 99.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
