@import '%/styles/breakpoints.scss';

.container {
  width: 100%;
  min-height: 100%;
  background-image: url(../assets/SubscriptionPaymentPage/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px;

  @media screen and (max-width: 428px) {
    padding: 0;
  }

  .form {
    width: 942px;
    background-color: white;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.09);
    border-radius: 38px;
    padding-top: 35px;

    @media screen and (max-width: 428px) {
      border-radius: 0;
      box-shadow: none;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .heading {
      display: flex;
      justify-content: space-between;
      padding: 0 62px;
      margin-bottom: 34px;

      @media screen and (max-width: 428px) {
        padding-left: 0;
        align-items: center;
        flex-direction: column;

        &.decorationLine::before {
          display: none;
        }
      }

      .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      h1 {
        font-size: 22px;
      }
    }

    .decorationLine {
      padding-left: 62px;
      position: relative;

      &::before {
        content: "";
        background: linear-gradient(to bottom, #FBB34C 0.76%, #F56B18 100.76%);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 17px;
        border-radius: 99px;
      }
    }

    .info {
      border-top: 1px solid #F5F5F5;
      position: relative;
      height: 757px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 428px) {
        // height: 642px;
        height: auto;
        flex: 1;
        padding: 70px 0;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
      }

      &::before {
        left: 0;
        background-image: url(../assets/SubscriptionPaymentPage/form_background_left.svg);
        width: 255px;

        @media screen and (max-width: 428px) {
          background-position-x: -158px;
        }
      }

      &::after {
        right: 0;
        background-image: url(../assets/SubscriptionPaymentPage/form_background_right.svg);
        width: 310px;

        @media screen and (max-width: 428px) {
          background-position-x: 101px;
          background-position-y: -85px;
        }
      }

      & > * {
        z-index: 1;
      }

      @media screen and (max-width: 428px) {

      }

      .securePayment {
        position: absolute;
        display: flex;
        align-content: center;
        gap: 8px;
        left: 62px;
        top: 26px;

        @media screen and (max-width: 428px) {
          left: 50%;
          transform: translateX(-50%);
        }

        span {
          font-family: 'SF Pro Display', serif;
          font-size: 13px;
          color: #B6B6B6;
        }
      }

      h2 {
        margin: 0;
        font-family: 'SF Pro Display', serif;
        font-weight: 500;
        font-size: 20px;
      }

      .price {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        background: linear-gradient(180deg, #FBB34C 15.89%, #F56B18 72.19%);
        color: transparent;
        background-clip: text;

        .number {
          font-size: 100px;
        }

        .label {
          font-size: 36px;
          margin-left: 3px;
        }
      }

      .insteadOfPrice {
        font-family: 'SF Pro Display', serif;
        font-weight: 500;
        font-size: 20px;

        .strikethrough {
          text-decoration: line-through;
          color: #F88F32;
        }
      }

      form {
        margin-top: 62px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;
        max-width: 640px;
        padding: 0 20px;

        @media screen and (max-width: $breakpoint-tablet) {
          max-width: 100%;
        }

        .email {
          width: 438px;

          @media screen and (max-width: 428px) {
            max-width: calc(100% - 100px);
          }
        }

        .terms {
          color: var(--secondary-text-color);

          @media screen and (max-width: 428px) {
            max-width: 100%;
          }

          label {
            max-width: 100%;
            font-size: 14px;
          }

          .termsLink {
            text-decoration: underline;
            text-underline-offset: 4px;
          }
        }
      }

      .footer {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'SF Pro Display', serif;
        font-size: 14px;
        color: var(--secondary-text-color);
        width: max-content;
      }
    }

    .success {
      text-align: center;

      .button {
        margin-top: 16px;
      }
    }

    footer {
      //margin-top: 50px;
      padding: 32px 62px;
      border-top: 1px solid #F5F5F5;
      display: flex;
      flex-direction: column;
      row-gap: 9px;

      .top,
      .links {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 9px;
        color: #B6B6B6;
        font-family: 'SF Pro Display', serif;
        font-size: 14px;

        a {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }
}
